<h1 class="mt-3">Mega secure page</h1>
<h2 class="mt-3">Welcome
    <%= username %>
</h2>
<img src="https://i.imgur.com/g1LxDR3.jpg" width="500" height="500">
<p><a href="/logout" class="btn btn-primary">Log out</a></p>